// font-sizes
$logo-font-size: 30px;
$links-font-size: 15.5px;

$info-bar-font-size: 17px;

$article-font-size: 18px;
$figcaption-font-size: 14.5px;

$footer-font-size: 15px;

//colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$dark-gray: rgb(68, 68, 68);
$dark-gray-o8: rgba(68, 68, 68, 0.8);
$dark-gray-o6: rgba(68, 68, 68, 0.6);

$my-green: rgb(18, 136, 112);
$my-green-o9: rgba(18, 136, 112, 0.93);

$article-bg-gradient-l: rgb(228, 225, 225);
$article-bg-gradient-d: rgb(163, 163, 163);

$article-link: rgb(44, 44, 150);

//margins
$margin-b: 30px;